.appworks/
.bito/
.gitconfig
.lesshst
.npm/
.ssh/
.vscode/
.zprofile
.zsh_history
.zsh_sessions/
Desktop/.DS_Store
Desktop/NO_DELETED/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
https:/
.DS_Store